#read-more-block {
    display: flex;
    justify-content: space-between;
    row-gap: 1rem;
    column-gap: 1.5rem;
    flex-wrap: wrap;
    margin-top: 1rem;
}

#form-inscription {
    p {
        padding-bottom: 1rem;
    }

    padding: 2rem;
    max-width: 30rem;
}
